@import "bootstrap-sprockets";
@import "bootstrap";

@import "AdminLTE";
@import "skins/skin-blue-light";

.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
