<header class="main-header">
    <nav class="navbar navbar-static-top" role="navigation">
        <a class="logo" href="/"><%= image_tag Settings.brand_logo, :class => "brand", :alt => "logo" %><%= Settings.nav_title %></a>
        <div class="container">
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <% Settings.menu_items.each do |item| %>
                        <li<% if request.path == item['actual_path'] %> class="active"<% end %>><a href="<%= item['actual_path'] %>"><span><%= item['name'] %></span></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>
