<header class="main-header">
    <a class="logo" href="/">
        <span class="logo"><%= image_tag Settings.brand_logo, :class => "brand", :alt => "logo" %><%= Settings.nav_title %></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
        </div>
        <span class="header-text"><%= @longname %></span>
    </nav>
</header>
