<div class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">LOCATIONS</li>
                <% Settings.menu_items.each do |item| %>
                    <li<% if request.path == item['actual_path'] %> class="active"<% end %>><a href="<%= item['actual_path'] %>"><span><%= item['name'] %></span></a></li>
                <% end %>
            <span>
        </ul>
    </div>
</div>
